.homescreen {
    max-width: 1350px;
    margin: 1.5rem auto;
}

.homescreen__title {
    font-size: 1.75rem;
    color: black;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.homescreen__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.socials__fbtw {
    margin-top: 3rem;
}

